@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700&display=swap');

:root {
  --color: #25063F;
  --white: #FFFFFF;
}

body {
  margin: 0;
}

html {
  box-sizing: border-box;
  font-family: 'Orbitron', sans-serif;
}

*, *::after, *::before {
  box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

